.card{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid brown;
    gap: 20px;
    text-align: center;
}

.containerTitle{
    height: 12vh;
    display: flex;
    align-items: center;
}

.title{
    font-size: medium;
    padding: 10px;
}

.origin{
    font-weight: 400;
    padding: 10px;
}

.picture{
    border-radius: 5px;
}