
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgba(245, 242, 242, 0.638);
}

a {
  color: inherit;
  text-decoration: none;
}



